FlightGoAdmin/build
FlightGoAdmin/.idea
FlightGoAdmin/.gradle
FlightGoAdmin/local.properties
FlightGoAdmin/build
FlightGoAdmin/gradle
FlightGoAdmin/gradlew.bat
FlightGoAdmin/gradlew


FlightGoUser/build
FlightGoUser/.idea
FlightGoUser/.gradle
FlightGoUser/local.properties
FlightGoUser/build
FlightGoUser/gradle
FlightGoUser/gradlew.bat
FlightGoUser/gradlew